<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Star Wars People</h4>
            <p class="card-category"> List of Star Wars people</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Name</th>
                  <th>Height</th>
                  <th>Mass</th>
                  <th>Hair Color</th>
                  <th>Gender</th>
                </thead>
                <tbody>
                  <tr *ngFor="let person of starWarsPeople">
                    <td>{{person.name}}</td>
                    <td>{{person.height}}</td>
                    <td>{{person.mass}}</td>
                    <td>{{person.hairColor}}</td>
                    <td>{{person.gender}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>