<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Source code
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, by
            <a href="http://bit.ly/amydoxym" target="_blank">Amy Doxy Muhimpundu</a> for
            <a href="https://zatec.io/" target="_blank">Zatec</a> coding test.
        </div>
    </div>
</footer>